.docs-block
  padding-bottom: 100px

  @media (min-width: 768px)
    padding-bottom 160px

  @media (min-width: 1280px)
    padding-bottom 230px

  &__links
    margin-bottom: 20px
    display: flex
    align-items: center
    overflow-x: auto
    padding-bottom: 20px

    @media (min-width: 768px)
      margin-bottom: 60px

    a
      font-size: 18px
      color: #000
      font-weight: 300
      line-height: 1.2
      letter-spacing: 0.8px
      text-decoration: none
      border-bottom: 1px dashed #000
      transition: color 0.3s, border-bottom-color 0.3s, font-weight 0.3s
      margin-right: 35px
      padding-bottom: 2px
      flex: 0 0 auto

      &:last-child
        margin-right: 0

      &:hover
        border-bottom-color: transparent

      &._is-active
        font-weight: 700
        color: #4FA600
        pointer-events: none
        border-bottom-color: transparent

  &__items
    display: flex
    flex-wrap: wrap
    margin-left: -32px

  &__item
    width: 100%
    padding-left: 32px
    margin-bottom: 20px

    @media (min-width: 768px)
      width: 50%

    @media (min-width: 1280px)
      width: 33.333%

    @media (min-width: 1600px)
      width: 25%

.doc-thumb
  width: 100%
  display: flex
  text-decoration: none

  @media (max-width: 639px)
    height: 480px

  @media (min-width: 1025px)
    height: 660px

  &__body
    width: 100%
    height: 580px
    display: flex
    flex-direction: column
    position: relative
    background: linear-gradient(76.56deg, #BBBBBB 5.22%, #E0E0E0 89.08%)
    border: 1px solid #E2E2E2
    border-radius: 20px
    overflow: hidden
    transition: box-shadow 0.5s, background-color 0.5s, height 0.5s

    @media (max-width: 639px)
      height: 100%

    @media (min-width: 1025px)
      border-radius: 30px
      // height: 420px

    &:hover
      height: 660px

      & ^[0]
        &__icon
          @media (min-width: 1025px)
            background-color: #F1F1F1

        &__content
          min-height: 200px

        &__button-more
          margin-bottom: 0

  &__img
    position: absolute
    top: 30px
    left: 0

    @media (min-width: 768px)
      left: -100px

    img
      vertical-align: top

  &__content
    display: flex
    flex-direction: column
    align-items: center
    margin-top: auto
    padding: 30px 20px 40px
    position: relative
    z-index: 2
    min-height: 120px
    background-color: #fff
    transition: min-height 0.5s

    @media (min-width: 768px)
      padding-bottom: 20px

    @media (min-width: 1025px)
      padding-bottom: 40px

  &__name
    font-size: 16px
    color: #000
    font-weight: 700
    line-height: 1.1
    text-align: center
    transition: color 0.3s
    width: 100%
    min-height: 50px

    @media (min-width: 1025px)
      font-size: 20px
      margin-bottom: 30px

  &__button-download
    transition: margin-bottom 0.5s
    margin-top: 10px

    @media (min-width: 1025px)
      margin-bottom: -120px

    &.button-default
      font-size: 10px !important
      padding-top: 14px !important
      padding-bottom: 14px !important
      width: 140px
      min-width: 160px !important

.pagination
  @media (max-width: 1024px)
    padding-top: 20px

  &__items
    display: flex
    align-items: center
    justify-content: center

    @media (max-width: 767px)
      flex-wrap: wrap

    a
      font-size: 16px
      color: #000
      font-weight: 700
      line-height: 1
      text-decoration: none
      transition: color 0.3s, background-color 0.3s, border-color 0.3s

      &._is-hidden
        opacity: 0
        visibility: hidden

  a:not(.pagination__prev, .pagination__next)
    text-align: center
    padding: 9px 12px
    margin-right: 15px
    border-radius: 5px
    border: 1px solid transparent

    &._is-active
      color: #fff
      background-color: #4FA600

    &:hover
      border-color: #4FA600

  &__prev
    margin-right: auto
    display: flex
    align-items: center

    @media (max-width: 767px)
      width: 100%
      margin-right: 0
      margin-bottom: 20px
      justify-content: center

    &:hover
      color: #4fa600

      &:before
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928931C12.9526 0.538407 12.3195 0.538407 11.9289 0.928931C11.5384 1.31946 11.5384 1.95262 11.9289 2.34314L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM8.74227e-08 9L19 9L19 7L-8.74227e-08 7L8.74227e-08 9Z' fill='%234fa600'/%3E%3C/svg%3E%0A")

    &:before
      content: ''
      flex: 0 0 20px
      width: 20px
      max-width: 20px
      height: 16px
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928931C12.9526 0.538407 12.3195 0.538407 11.9289 0.928931C11.5384 1.31946 11.5384 1.95262 11.9289 2.34314L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM8.74227e-08 9L19 9L19 7L-8.74227e-08 7L8.74227e-08 9Z' fill='black'/%3E%3C/svg%3E%0A")
      transform: rotate(180deg)
      background-repeat: no-repeat
      background-size: contain
      background-position: 0 0
      margin-right: 8px
      transition: background 0.3s

  &__next
    margin-left: auto
    display: flex
    align-items: center

    @media (max-width: 767px)
      width: 100%
      margin-left: 0
      margin-top 20px
      justify-content: center

    &:hover
      color: #4fa600

      &:after
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928931C12.9526 0.538407 12.3195 0.538407 11.9289 0.928931C11.5384 1.31946 11.5384 1.95262 11.9289 2.34314L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM8.74227e-08 9L19 9L19 7L-8.74227e-08 7L8.74227e-08 9Z' fill='%234fa600'/%3E%3C/svg%3E%0A")

    &:after
      content: ''
      flex: 0 0 20px
      width: 20px
      max-width: 20px
      height: 16px
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928931C12.9526 0.538407 12.3195 0.538407 11.9289 0.928931C11.5384 1.31946 11.5384 1.95262 11.9289 2.34314L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM8.74227e-08 9L19 9L19 7L-8.74227e-08 7L8.74227e-08 9Z' fill='black'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-size: contain
      background-position: 0 0
      margin-left: 8px
      transition: background 0.3s