.header
  flex: none

._is-theme
  .top-panel__button
    color: #4FA600
    background-color: #fff
    &:hover
      color #fff
      svg
        path
          stroke: #fff

    svg
      path
        stroke: #4FA600

