.footer
  color: #fff
  // max-width: 1920px
  // width: 100%
  // margin: 0 auto
  flex: none
  background-color: #000
  padding-top: 30px
  padding-bottom: 16px

  a
    color: #fff
    text-decoration: none
    transition: color 0.3s

    &:hover
      color: #4fa600

  &__info
    display: flex
    flex-direction: column
    align-items: center

    @media (min-width: 1360px)
      flex-direction: row
      padding-bottom: 30px

    .logo
      margin-bottom: 30px
      z-index: 1 !important

      @media (min-width: 1360px)
        margin-bottom: 0
        margin-right: 50px

      &__img
        max-width: 200px !important

  &__link-projects
    margin-bottom: 20px
    position: relative

    @media (min-width: 1360px)
      margin-bottom: 0
      margin-right: 30px

    &.button-default
      font-size: 14px
      line-height: 1.5
      font-weight: 300
      text-transform: none
      min-width: auto
      width: 100%
      max-width: 768px
      transition: background-color 0.3s, border-color 0.3s, color 0.3s

      @media (min-width: 1360px)
        min-width: 335px
        max-width: 315px
        padding-top: 10px
        padding-bottom: 10px

      &:hover
        color: #fff

    &.button-default--outline
      color: #fff
      border-color: #fff

    ul
      position: absolute
      left: 0
      bottom: calc(100% + 4px)
      overflow: hidden
      margin: 0
      list-style: none
      text-align: left
      background-color: #fff
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
      z-index: 9
      width: 100%
      padding-left: 0
      margin: 0
      max-height: 0
      opacity: 0
      transition: all 0.25s ease-in-out
      overflow: auto

      &._is-show
        opacity: 1
        max-height: 300px

      li
        a
          font-size: 14px
          color: #000
          line-height: 1.2
          font-weight: 300
          text-decoration: none
          padding: 5px 10px
          transition: all 0.25s ease-in-out
          display: block

          &:hover
            color: #fff
            background-color: #e50000

  &__contacts
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 38px

    @media (min-width: 1360px)
      flex-direction: row
      align-items: flex-end
      margin-bottom: 0
      margin-left: 30px

    a
      font-size: 20px
      font-weight: 700
      color: #fff
      line-height: 1.2
      text-align: center
      text-decoration: none
      letter-spacing: 0.8px
      transition: color 0.3s

      &:hover
        color: #4fa600

  &__phone
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20px
    order: -1

    @media (min-width: 1360px)
      order: 0
      align-items: flex-end
      margin-bottom: 0
      margin-left: 44px

    small
      font-size: 13px
      font-weight: 300
      line-height: 1.1
      text-align: center
      letter-spacing: 0.8px
      margin-bottom: 5px

  &__copy
    font-size: 13px
    font-weight: 300
    line-height: 1.4
    text-align: center
    letter-spacing: 0.8px
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 16px
    border-top: 1px solid #707070

    @media (min-width: 768px)
      text-align: left
      flex-direction: row
      justify-content: space-between

    span
      &:last-child
        margin-top: 25px

        @media (min-width: 768px)
          margin-left: 150px
          flex: 0 0 auto

      @media (min-width: 768px)
        margin-top: 0 !important

      br
        @media (min-width: 768px)
          display: none

  .social-links
    order: 1

    @media (min-width: 1360px)
      order: 0
      margin-right: auto
      margin-left: auto
      margin-bottom: 0
      transform: translateX(5px)

.social-links
  margin-bottom: 40px

  &__items
    display: flex
    align-items: center

    a
      text-decoration: none
      margin-right: 30px
      display: flex
      align-items: center

      &:last-child
        margin-right: 0

      svg
        path
          transition: fill 0.3s

      &:hover
        svg
          path
            fill: #4fa600
