<!doctype html>
<html lang="{{ app.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

				<link rel="icon" type="image/x-icon" href="favicon.png">

        <meta name="theme-color" content="{{ app.stylus.colors.theme }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/app.css">

        {% block inlineStyles %}{% endblock %}
    </head>

    <body block="app" class="{{ body.classes }}">

		{% if page.layout.header %}
			<div elem="header">
				{% include 'header.html' %}
			</div>
		{% endif %}

		<div elem="content">

			<main elem="main">
				{% block main %}{% endblock %}
			</main><!-- app:main -->

		</div><!-- app:content -->

		{% if page.layout.footer %}
			<div elem="footer">
				{% include 'footer.html' %}
			</div>
		{% endif %}

		{{ inlineSvgSprite() }}

		<script>
			const appSetup = {
				base: '{{ app.pathData.base }}',
			};

			const appUri = location.hostname === 'localhost' ? 'http://localhost:{{ app.settings.app.bsSP.port }}' : `https://dev.solvers.group/${appSetup.base}-fr`;

			const appData = {
				uri: appUri,
				defers: {
					smoothscroll: `${appUri}/js/vendors/smoothscroll.polyfill-0.4.4.js`,
				}
			}
		</script>

		{% include "popup-modal.html" %}

		<div block="popup-modal" class="hystmodal" id="price_list" aria-hidden="true">
			<div elem="section" class="hystmodal__wrap">
				<div elem="inner" class="hystmodal__window" role="dialog" aria-modal="true">
					<button data-hystclose class="hystmodal__close"></button>
					<div elem="container">
						<div elem="title">Запрос прайс-листа</div>
						<form elem="form">
							<div elem="fields">
								<div elem="input">
									<input type="text" placeholder="Имя">
								</div>
								<div elem="input">
									<input type="text" placeholder="Телефон">
								</div>
								<div elem="input">
									<input type="text" placeholder="Электронная почта">
								</div>
								<div elem="input">
									<input type="text" placeholder="Город">
								</div>
								<div elem="textarea">
									<textarea placeholder="Комментарий"></textarea>
								</div>
							</div>
							<div elem="bottom">
								<div elem="privacy-policy">
									<label elem="label">
										<input type="checkbox" name="">
										<span elem="checkbox">
											<i></i>
											<span>
												Даю <a href="#">согласие</a> на обработку моих персональных данных в соответствии <br>
												с <a href="#">Политикой обработки персональных данных</a>
											</span>
										</span>
									</label>
									<label elem="label">
										<input type="checkbox" name="">
										<span elem="checkbox">
											<i></i>
											<span>
												Даю согласие ООО «ТехноНИКОЛЬ-Строительные Системы», ИНН 7702521529 (далее – Общество)
												на получение от Общества (или от третьих лиц, действующих по поручению Общества) рекламных,
												информационных материалов по указанному мной номеру телефона, адресу электронной почты
											</span>
										</span>
									</label>
								</div>
								<button elem="button-send" class="button-default" type="submit">
									отправить вопрос
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- popup-modal -->

        <script defer src="js/plugins.min.js"></script>
        <script defer src="js/app.js"></script>

    </body><!-- app -->
</html>
