html, body
  margin: 0
  padding: 0

html, body
  min-height: 100vh

.app
  display: grid
  grid-template-rows: auto 1fr auto

.contain
  max-width: 1626px
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-right: 20px
  padding-left: 20px

  @media (min-width: 768px)
    padding-right: 50px
    padding-left: 50px 