html, body
  margin: 0
  padding: 0

html, body
  min-height: 100vh

body
  &._is-scroll-lock
    overflow: hidden

.app
  display: grid
  grid-template-rows: auto 1fr auto

.contain
  max-width: 1626px
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-right: 20px
  padding-left: 20px

  @media (min-width: 768px)
    max-width: 1626px + 50px + 50px
    padding-right: 50px
    padding-left: 50px

.button-default
  font-size: 10px
  color: #FFF
  font-weight: 700
  line-height: 1.143
  letter-spacing: 0.8px
  text-align: center
  text-transform: uppercase
  text-decoration: none
  background-color: #4FA600
  border: none
  border-radius: 10px
  min-width: 180px
  padding: 12px 26px
  display: flex
  align-items: center
  justify-content: center
  flex: none
  transition: background-color 0.3s, border-color 0.3s, color 0.3s

  @media (min-width: 1280px)
    font-size: 14px
    padding-top: 18px
    padding-bottom: 18px

  @media (min-width: 1600px)
    font-size: 16px

  svg
    margin-right: 8px

  &--outline
    color: #000
    border: 1px solid #000000
    background-color: transparent

    &:hover
      color: #fff
      background-color: #4FA600
      border-color: #4FA600