.about-us
  padding-top: 46px
  padding-bottom: 72px

  @media (min-width: 768px)
    padding-top: 44px
    padding-bottom: 65px

  @media (min-width: 1280px)
    padding-top: 130px
    padding-bottom: 110px

  &__content
    color: #000

    @media (min-width: 768px)
      display: flex
      justify-content: space-between

  &__title
    font-size: 24px
    font-weight: 300
    line-height: 1
    margin-top: 0
    margin-bottom: 28px

    @media (min-width: 768px)
      font-size: 32px
      margin-bottom: 0

    @media (min-width: 960px)
      font-size: 44px
      margin-right 50px

    @media (min-width: 1280px)
      font-size: 60px

  &__text
    font-size: 18px
    font-weight: 300
    line-height: 1.5

    @media (min-width: 768px)
      width: 310px

    @media (min-width: 960px)
      width: 560px
      font-size: 26px

    @media (min-width: 1280px)
      width: 760px
      font-size: 36px

    p
      font-size: 18px
      font-weight: 300
      line-height: 1.5
      margin-top: 0
      margin-bottom: 15px

      @media (min-width: 960px)
        font-size: 26px

      @media (min-width: 1280px)
        font-size: 36px

      &:last-child
        margin-bottom: 0
