.top-panel
  width: 100%
  top: 0
  left: 0
  position: absolute
  z-index: 50
  overflow: hidden

  &._is-opened-menu
    .logo
      &__img
        img
          &.logo-light
            display: none !important

          &.logo-dark
            display: block !important

  &__section
    max-width: 1920px
    width: 100%
    display: flex
    align-items: center
    margin: 0 auto

  &__inner
    flex: 1 1 auto
    display: flex
    align-items: center
    padding-left: 20px
    padding-top: 10px

    @media (min-width: 1600px)
      padding-left: 150px
      padding-top: 0

    @media (min-width: 768px)
      padding-left: 50px

  &__info
    margin-left: auto

  &__buttons
    display: none

    @media (min-width: 1280px)
      display: flex
      align-items: center

  &__button
    font-size: 10px
    margin-right: 20px
    padding-top: 8px
    padding-bottom: 8px

    @media (min-width: 1280px)
      font-size: 12px
      text-align: center
      padding: 8px 26px
      flex: none
      max-width: none
      width: auto
      min-width: 180px

    @media (min-width: 768px)
      flex: 0 0 120px
      width: 120px
      max-width: 120px
      min-width: auto
      padding: 9px 10px
      text-align: left

    svg
      flex: 0 0 auto

    &:last-child
      margin-right: 0

  &__menu
    margin-left: 50px

  &__button-burger
    width: 50px
    height: 50px
    background-color: #4FA600
    border: none
    padding: 0
    position: relative
    cursor: pointer
    display: block
    z-index: 52

    @media (min-width: 1600px)
      width: 100px
      height: 100px

    span
      width: 20px
      height: 1px
      background-color: #fff
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      display: block
      transition: margin-left 0.3s, opacity 0.3s, ease 0.3s

      @media (min-width: 1600px)
        width: 40px
        height: 2px

    &:before, &:after
      content: ''
      position: absolute
      background-color: #fff
      width: 20px
      height: 1px
      left: 50%
      transform: translateX(-50%)
      transition: margin-left 0.3s, opacity 0.3s, ease 0.3s

      @media (min-width: 1600px)
        height: 2px
        width: 40px

    &:before
      top: 30px

      @media (min-width: 1600px)
        top: 40px

    &:after
      bottom: 30px

      @media (min-width: 1600px)
        bottom: 40px

    i
      position: absolute
      top: 50%
      left: 50%
      width: 18px
      height: 18px
      transform: translate(-50%, -50%)
      background-image: url("data:image/svg+xml,%3Csvg width='37' height='36' viewBox='0 0 37 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L36 35' stroke='white' stroke-width='2'/%3E%3Cpath d='M36 1L1 35' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-position: 0 0
      background-size: contain
      opacity: 0
      visibility: hidden
      transition: opacity 0.3s, ease 0.3s

      @media (min-width: 1600px)
        width: 36px
        height: 36px

    &._is-active
      span
        margin-left: 10px
        opacity: 0

      &:before, &:after
        margin-left: -10px
        opacity: 0

      i
        opacity: 1
        visibility: visible