.our-products
  padding-top: 35px
  padding-bottom: 44px

  @media (min-width: 768px)
    padding-top: 32px
    padding-bottom: 40px

  @media (min-width: 1280px)
    padding-top: 55px
    padding-bottom: 80px

  &__section
    max-width: 1920px
    width: 100%
    margin-right: auto
    margin-left: auto
    padding-right: 25px
    padding-left: 25px

  &__info
    color: #000
    display: flex
    position: relative
    margin-bottom: 50px

    @media (min-width: 768px)
      margin-bottom: 38px

    @media (min-width: 1280px)
      margin-bottom: 100px

  &__title
    font-size: 36px
    font-weight: 700
    line-height: 1
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 22px

    @media (min-width: 768px)
      font-size: 50px
      margin-bottom: 18px

    @media (min-width: 1280px)
      font-size: 80px
      margin-bottom: 32px

  &__desc
    font-size: 20px
    font-weight: 300
    line-height: 1.5
    margin-bottom: 32px
    width: 100%

    @media (min-width: 768px)
      max-width: 336px

    @media (min-width: 1280px)
      max-width: 600px
      font-size: 36px

    @media (min-width: 1600px)
      max-width: 800px

  &__link-more
    min-width: 160px
    display: inline-block

    @media (min-width: 1280px)
      min-width: 280px

  &__img
    width: 100%
    display: none
    position: relative

    @media (min-width: 768px)
      flex: 0 0 287px
      width: 287px
      max-width: 287px
      display: block
      margin-left: 44px
      position: absolute
      top: 70px
      right: 0

    @media (min-width: 1280px)
      flex: 0 0 400px
      width: 400px
      max-width: 400px
      display: block
      margin-left: 44px
      top: 120px
      right: 0

    @media (min-width: 1600px)
      flex: 0 0 612px
      width: 612px
      max-width: 612px
      margin-left: 210px
      position: static

    img
      vertical-align: top

  &__items
    display: flex
    flex-wrap: wrap
    margin-left: -20px

  &__item
    width: 100%
    padding-left: 20px
    padding-bottom: 20px

    @media (min-width: 960px)
      width: 50%

    &:nth-child(2), &:nth-child(3), &:nth-child(6)
      @media (max-width: 959px)
        display: none

.our-product-card
  width: 100%
  height: 400px
  text-decoration: none
  display: flex

  @media (min-width: 640px)
    height: 430px

  @media (min-width: 1280px)
    height: 600px

  &:hover
    .our-product-card__img--dual, .our-product-card__img--dual-2
      img
        &:first-child
          @media (min-width: 1025px)
            margin-left: -75px

        &:last-child
          @media (min-width: 1025px)
            margin-right: -75px

    .our-product-card__img--single
      img
        @media (min-width: 1025px)
          margin-top: -50px
          margin-right: -50px

  &__body
    width: 100%
    height: 100%
    background-color: #F1F1F1
    border-radius: 20px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: column

    @media (min-width: 768px)
      border-radius: 30px

  &__img
    width: 100%
    height: 100%
    position: absolute

    img
      width: 100%
      height: 100%
      object-fit: cover
      vertical-align: top
      transition: margin 0.3s

    &--dual
      img
        width: auto
        height: auto
        position: absolute
        object-fit: contain

        &:first-child
          @media (max-width: 767px)
            display: none

          @media (min-width: 768px)
            left: -20%
            top: -260px

          @media (min-width: 960px)
            left: -40%
            top: -260px

          @media (min-width: 1024px)
            left: -35%
            top: -250px

          @media (min-width: 1360px)
            top: -180px
            left: -25%

          @media (min-width: 1800px)
            left: -5%

        &:last-child
          @media (max-width: 375px)
            top: -5%

          @media (min-width: 376px) and (max-width: 390px)
            top: -115px !important

          @media (max-width: 480px)
            top: -35%

          @media (max-width: 767px)
            right: 50%
            transform: translateX(50%)
            top: -75%
            bottom: auto
            width: 80%

          @media (min-width: 768px)
            right: -20%
            bottom: -150px

          @media (min-width: 960px)
            right: -55%
            bottom: -150px

          @media (min-width: 1024px)
            right: -60%

          @media (min-width: 1360px)
            right: -35%

          @media (min-width: 1800px)
            right: -5%

    &--single
      img
        width: auto
        height: auto
        position: absolute
        object-fit: contain
        top: 0
        right: 0

        @media (max-width: 480px)
          top: 0
          right: -75px
          max-width: 120%

        @media (max-width: 767px)
          top: -100px
          right: -50px

        @media (min-width: 768px)
          top: -130px
          right: -100px

        @media (min-width: 1280px)
          top: -160px
          right: -150px
          width: auto

    &--dual-2
      @media (min-width: 376px) and (max-width: 390px)
        top: -40px

      img
        width: auto
        height: auto
        position: absolute
        object-fit: contain
        top: 0

        &:first-child
          @media (max-width: 767px)
            top: -40px
            left: 60px
            width: 80%

          @media (min-width: 768px)
            top: -100px
            left: 100px
            width: 70%

          @media (min-width: 1280px)
            top: -130px
            left: 60px

        &:last-child
          @media (max-width: 767px)
            top: 20px
            right: -50px
            width: 80%

          @media (min-width: 768px)
            top: -180px
            right: -250px
            width: 80%

          @media (min-width: 1280px)
            top: -150px
            right: -150px

  &__content
    margin-top: auto
    padding: 20px 40px
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    align-items: flex-start

    @media (max-width: 767px)
      text-align: center
      align-items: center

    @media (min-width: 640px)
      padding: 40px

    @media (min-width: 1280px)
      padding: 80px

  &__name
    font-size: 24px
    color: #000
    font-weight: 700
    line-height: 1
    text-align: center
    text-transform: uppercase
    margin-bottom: 18px

    @media (min-width: 768px)
      font-size: 30px
      text-align: left
      width: 320px
      margin-bottom: 26px

    @media (min-width: 1280px)
      font-size: 40px
      width: 430px

  &__link-more
    display: inline-block

    &.button-default
      font-size: 12px
      min-width: 140px
      padding-top: 12px
      padding-bottom: 12px