---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Влияние влажности на древесину
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
	{"title": Статьи},
]
body:
	classes: inner
---

{% extends 'app.html' %}


{% block main %}
 
	<div block="inner-top">
		<div elem="section">
			<div elem="inner" class="contain">
				{% include "bread-crumbs.html" %}
			</div>
		</div>
	</div><!-- inner-top -->

  <div block="content-block">
  <div elem="section">
    <div elem="inner" class="contain">
      <div elem="container">
        <div elem="sidebar" class="js-content-block-sidebar">
          <h3>Оглавление</h3>
          <nav elem="nav">
            <ul>
              <li><a href="#block1">Что такое влажность древесины</a></li>
              <li><a href="#block2">Какая бывает влажность древесины</a></li>
              <li><a href="#block3">Как древесину сушат</a></li>
              <li>
                <a href="#block4">ТУ — технические условия</a>
                <ul>
                  <li>
                    <a href="#block5">
                      Условия хранения
                      пиломатериалов по ТУ
                    </a>
                  </li>
                  <li>
                    <a href="#block6">
                      Условия распаковки
                      пиломатериалов по ТУ
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#block7">
                  Какие свойства древесины проявляются при изменении влажности
                </a>
                <ul>
                  <li>
                    <a href="#block8">
                      Гигроскопичность
                    </a>
                  </li>
                  <li>
                    <a href="#block9">
                      Водопоглощение
                    </a>
                  </li>
                  <li>
                    <a href="#block10">
                      Усушка
                    </a>
                  </li>
                  <li>
                    <a href="#block11">
                      Разбухание
                    </a>
                  </li>
                  <li>
                    <a href="#block12">
                      Внутренние напряжения в древесине
                    </a>
                    <ul>
                      <li>
                        <a href="#block13">
                          Коробление древесины
                        </a>
                        <ul>
                          <li>
                            <a href="#block14">
                              Покоробленность по кромке и пласти
                            </a>
                          </li>
                          <li>
                            <a href="#block15">
                              Поперечная покоробленность
                            </a>
                          </li>
                          <li>
                            <a href="#block16">
                              Винтовая покоробленность
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#block17">Причины коробления досок</a>
                      </li>
                      <li>
                        <a href="#block18">Как уменьшить коробление сортимента</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#block19">Внимание! Влажность</a></li>
            </ul>
          </nav>
        </div>
        <div elem="content">
          <div elem="main">
            <h1>
              Влияние влажности
              на древесину
            </h1>
            <p class="text-accent">
              Все что нужно знать покупателю о влажности древесины
            </p>
            <div elem="img-full">
              <img src="img/content-block-main-img2.jpg" alt="">
            </div>
          </div>
          <h2 id="block1">Что такое влажность древесины</h2>
          <figure elem="img">
            <div><img src="img/content-img15.jpg" alt=""></div>
          </figure>
          <p>
            Вода обеспечивает жизнедеятельность растущего дерева. В срубленном дереве содержание воды может увеличиваться или
            уменьшаться. Это зависит от условий хранения и транспортировки. Древесину сушат перед использования для повышения
            качества готовой продукции.
          </p>
          
          <p>
            Сильные морозы называют трескучими, потому что при резком похолодании влага в древесине бревна замерзает и расширяется.
            Когда лед распирает волокна, мы слышим треск. Трещат не морозы, трещат бревна)
          </p>
          
          <p>Начнем с определений, чтобы понять как влажность влияет на древесину.</p>
          
          <p>
          Вода из клеточных стенок, называется связанной или гигроскопической, а заполняющая полости клеток и межклеточные
          пространства — свободной или капиллярной.
          </p>
          
          <p>
            Связанная вода прочно удерживается за счет физико-химических связей. Свойства древесины существенно меняются при
            удалении связанной воды.
          </p>
          
          <p>Свободную воду удерживают силы капиллярного взаимодействия. Ее легче удалить, и она меньше влияет на свойства древесины.</p>
          
          <p>Влажная древесина содержит только связанную воду</p>
          
          <p>В сырой древесине есть и связанная, и свободная вода</p>
          
          <p>Влажность древесины пиломатериалов определяют по ГОСТ 16588−91</p>
          <br>
          <br>
          <h2 id="block2">Какая бывает влажность древесины</h2>
          <figure elem="img">
            <div><img src="img/content-img16.jpg" alt=""></div>
          </figure>
          <div elem="percentage-info">
            <p>Мокрая <strong>Более 100 %</strong></p>
            <p>Свежесрубленная <strong>100-50 %</strong></p>
            <p>Воздушно-сухой влажности <strong>20-15 %</strong></p>
            <p>Комнатно-сухой влажности <strong>12-8 %</strong></p>
            <p>Абсолютно сухая <strong>0 %</strong></p>
          </div>
          <p>Средняя влажность древесины некоторых хвойных пород в свежесрубленном состоянии</p>
          <div elem="percentage-info">
            <p>Лиственница <strong>82 %</strong></p>
            <p>Сосна обыкновенная <strong>85 %</strong></p>
            <p>Ель <strong>91 %</strong></p>
            <p>Кедр сибирский <strong>109 %</strong></p>
          </div>

          <p>
            Влажность зимней древесины даже больше влажности летней древесины.
            То что зимняя древесина более сухая — это миф.
          </p>
          <br>
          <br>
          <p><strong>Среднее содержание воды к абсолютно-сухому весу, %:</strong></p>
          <div elem="percentage-table">
            <table>
              <tbody>
                <tr>
                  <td><strong>Месяцы</strong></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td><strong>Сосна</strong></td>
                  <td>83</td>
                  <td>86</td>
                  <td>89</td>
                  <td>92</td>
                  <td>85</td>
                  <td>84</td>
                  <td>85</td>
                  <td>80</td>
                  <td>84</td>
                  <td>92</td>
                  <td>94</td>
                  <td>97</td>
                </tr>
                <tr>
                  <td><strong>Ель</strong></td>
                  <td>103</td>
                  <td>105</td>
                  <td>101</td>
                  <td>93</td>
                  <td>83</td>
                  <td>85</td>
                  <td>83</td>
                  <td>78</td>
                  <td>90</td>
                  <td>84</td>
                  <td>82</td>
                  <td>103</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <strong>Нормализованная влажность</strong> — это равновесная влажность древесины, при температуре 20±2°С и относительной влажности среды
            65±5%. У древесины пород умеренного климата нормализованная влажность — 12%.
          </p>
          <br>
          <p>
            Влажность 20-22% называется транспортной, в период эксплуатации изделий из древесины — эксплуатационной, и процессе
            изготовления деталей и изделий — производственной — обычно меньше эксплуатационной на 1-2%.
          </p>
          <br>
          <p><strong>Некалиброванный пиломатериал:</strong></p>
          <br>
          <div elem="percentage-info">
            <p>Рабочая влажность <strong>12-14 %</strong></p>
            <p>Строительная влажность <strong>менее 18 %</strong></p>
          </div>

          <p><strong>Калиброванный пиломатериал:</strong></p>
          <br>
          <div elem="percentage-info" style="max-width: 765px;">
            <p>Шпон фанера термодерево<strong>менее 6 %</strong></p>
            <p>Сухой пиломатериал столярной влажности<strong>менее 8 %</strong></p>
            <p>Сухой пиломатериал для внутренней отделки<strong>менее 10 %</strong></p>
            <p>Сухой пиломатериал для каркасов и наружной отделки<strong>менее 15 %</strong></p>
          </div>
          
          <br>
          <br>
          <br>

          <h2 id="block3">Как древесину сушат</h2>

          <div elem="info-img">
            <figure elem="img">
              <div><img src="img/content-img17.jpg" alt=""></div>
            </figure>
          </div>
          
          <p>
            При высыхании древесины уменьшается влажность древесины, потому что вода и перемещается изнутри к поверхности, и
            испаряется в окружающую среду.
          </p>
          
          <p>Внутренняя зона сортимента всегда более влажная, чем наружная.</p>
          
          <p>
            Сушка пиломатериала — этап производства, при котором из древесины удаляется свободная и связанная вода.
            При сушке в поверхностной зоне сортимента возникают сначала растягивающие, а затем сжимающие напряжения. Растягивающие
            внутренние напряжения могут вызвать растрескивание древесины во время сушки. Остаточные напряжения в высушенном
            материале приводят к его короблению при механической обработке.
          </p>
          
          <p>
            Внутренние напряжения после атмосферной сушки в несколько раз меньше, чем после камерной. Так, после атмосферной сушки
            сосновых и еловых пиломатериалов сжимающие напряжения в поверхностных зонах не превышают 0,5 МПа, а растягивающие во
            внутренней зоне — 0,2 МПа. После камерной сушки напряжения в поверхностных и внутренней зонах тех же досок составляют
            4,4 и 1,7 МПа соответственно.
          </p>
          
          <p>Остаточные напряжения в древесине твердых лиственных пород и лиственницы выше, чем в древесине остальных пород.</p>
          
          <p>
            Остаточные внутренние напряжения после окончания сушки можно полностью снять или уменьшить если увлажнить поверхность
            древесины паром, водой и путем приложения механических усилий — утяжелителями или специальными прижимами.
          </p>
          
          <p>После любой сушки 50% материала отбраковывается.</p>
          
          <p>После сушки уменьшаются размеры досок.</p>
          
          <p>
            Например, если до сушки сечение доски — 53 х 155 мм, то после сушки — 50 х 150 мм.</p>
          <br>
          <br>
          <br>
          <h2 id="block4">ТУ — технические условия</h2>
          <strong class="text-break">ТУ 16.10.21.110−001−19334577−2018</strong>
          
          <p>
            Технические условия разработаны на предприятии ООО ДК «Премьер-Лес»,
            для определения сортного состава готовой продукции. Готовая продукция предназначена для настенных, напольных, потолочных
            покрытий внутреннего и наружного назначения. В ТУ указаны условия транспортирования, хранения и распаковки.
          </p>
          
          <p>
            <strong>Согласно ТУ влажность пиломатериалов ТЕХНОНИКОЛЬ из хвойных пород древесины:</strong>
          </p>
          <p>
            
            не более 14% — отклонения ±2%
          </p>
          
          <p>Влажность древесины деталей определяют по ГОСТ 16588−91</p>

          <h3 id="block5">Условия хранения пиломатериалов по ТУ</h3>

          <strong>Выдержка из ТУ</strong>
          
          <p>
            <strong>5.3.</strong> При погрузке, транспортировании, разгрузке и хранении должна быть обеспечена сохранность деталей (защита от
            механических повреждений, увлажнения, загрязнения).
          </p>
          
          <p>Условия хранения должны обеспечивать нормированную влажность древесины деталей.</p>
          
          <p>
            <strong>5.4.</strong> Хранение готовой продукции должно производиться в хорошо проветриваемом, крытом помещении, защищенном от попадания
            ультрафиолетовых лучей. Пакеты должны быть оторваны от пола на высоту не менее 100 мм. Пиломатериал, предназначенный для
            эксплуатации в помещении должен храниться в помещениях с относительной влажностью воздуха 65−70% и температурой воздуха
            в пределах от +17 до +25°C вдали от источников тепла (радиаторы отопления, печь и т.п.)
          </p>
          
          <p>
            Пиломатериал, предназначенный для эксплуатации в условиях уличной среды должен храниться в неотапливаемом помещении или
            под навесом на улице, на проветриваемой сухой площадке с постоянной относительной влажностью воздуха 55−85% и
            температурой воздуха в пределах от –30 до +30°C. Пачки должны быть уложены на опоры на высоту не менее 300 мм от земли и
            не ниже уровня снежного покрова в зимнее время. Опорные поверхности должны быть выровнены в одной плоскости.
          </p>
          
          <p>
            При хранении пиломатериал должен предохраняться от механических повреждений, влаги, агрессивных веществ, прямых
            солнечных лучей, огня, а также от резких перепадов температуры и влажности окружающего воздуха (не более чем на 5% за
            час).
          </p>
          
          <p>
            При несоблюдении правил хранения возможны преждевременная потеря товарного вида и деформация пиломатериала, появления
            синевы и плесени даже на исходно качественных материалах. В этом случае гарантийные обязательства не распространяются.
          </p>

          <h3 id="block6">Условия распаковки пиломатериалов по ТУ</h3>

          <strong>Выдержка из ТУ</strong>
          
          <p>
            <strong>5.5.</strong> Перед монтажом, упаковки продукции необходимо вскрыть, и выдержать не менее суток в той среде, в которой
            планируется дальнейшая эксплуатация.
          </p>
          <br>
          <br>
          <br>

          <h2 id="block7">Какие свойства древесины проявляются при изменении влажности</h2>
          <div elem="info-img">
            <figure elem="img">
              <div><img src="img/content-img18.jpg" alt=""></div>
            </figure>
          </div>
          <br>
          <h3 id="block8">Гигроскопичность</h3>
          <div elem="circle-img">
            <figure elem="img">
              <div><img src="img/circle-img.jpg" alt=""></div>
            </figure>
            <div>
              <p>Гигроскопичность — это способность древесины впитывать водяной пар — влагу из окружающего воздуха.</p>
              
              <p>
                Каждому сочетанию температуры t и относительной влажности φ воздуха соответствует определенная устойчивая влажность
                древесины, практически одинаковая для всех пород — влажность древесины равновесная воздушной среде. При температуре t =
                20°С и влажности φ = 60% равновесная влажность древесины — 11,2%.
              </p>
            </div>
          </div>
          
          <h3 id="block9">Водопоглощение</h3>
          <div elem="circle-img">
            <figure elem="img">
              <div><img src="img/circle-img2.jpg" alt=""></div>
            </figure>
            <div>
              <p>
                У древесины пористое строение. Поэтому древесина поглощает влагу при непосредственном контакте с водой. Максимальная
              влажность, погруженной в воду древесины, определяется максимальным количеством связанной воды — пределом насыщения
              клеточных стенок и свободной воды. Так как количество свободной воды зависит от объема пустот в древесине, то чем меньше
              плотность древесины, тем больше ее влажность при максимальном водопоглощении. Чем плотнее древесина, тем меньше
              впитывает воду.
              </p>
            </div>
          </div>

          <p><strong>Значения максимальной влажности древесины при водопоглощении:</strong></p>
          <br>
          
          <div elem="percentage-info">
            <p>Лиственница<strong>126 %</strong></p>
            <p>Сосна обыкновенная<strong>185 %</strong></p>
            <p>Ель<strong>212 %</strong></p>
            <p>Кедр сибирский<strong>220 %</strong></p>
          </div>

          <p>
            Водопоглощение ускоряется с повышением температуры. Количество поглощенной воды зависит от породы, начальной влажности,
            анатомической зоны: заболонь поглощает больше воды, чем ядро.
          </p>
          
          <p>
            Способность древесины поглощать воду и другие жидкости имеет значение при пропитке растворами антисептиков, антипиренов.
            Поэтому древесину лиственницы не надо обрабатывать грунтовкой с антисептиком. Можно сразу наносить два слоя защитного
            масла.
          </p>

          <h3 id="block10">Усушка</h3>
          <div elem="circle-img">
            <figure elem="img">
              <div><img src="img/circle-img3.jpg" alt=""></div>
            </figure>
            <div>
              <p>
                <strong>Усушка</strong> — свободное уменьшение линейных размеров и объема древесины при удалении из нее связанной адсорбционной воды.
                Усушка происходит при любой температуре после снижения влажности ниже предела насыщения клеточных стенок.
              </p>
              
              <p>
                В начале высыхания древесины усушка происходит медленно — удаляется в основном микрокапиллярная вода и небольшое
                количество адсорбционной, а после удаления всей микрокапиллярной воды усушка ускоряется.
              </p>
              
              <p>Усушка в тангенциальном направлении в 1,5-2 раза больше, чем в радиальном. Усушка вдоль волокон значительно меньше.</p>
            </div>
          </div>

          <div elem="scheme">
            <figure elem="img">
              <div><img src="img/scheme-img.png" alt=""></div>
            </figure>
            <div>
              <p>
                <strong>1, 2</strong> — поздние и ранние зоны годичных слоев <br>
                <strong>3</strong> — сердцевинный луч <br>
                <strong>t</strong> — тангенциальное направление <br>
                <strong>r</strong> — радиальное направление
              </p>
            </div>
          </div>

          <p>
            Схема взаимного влияния элементов макроструктуры, которое обуславливает различие радиальной и тангенциальной усушки
          </p>
          <br>
          <br>
          
          <p>
            Чем больше масса клеточных стенок в единице объема древесины, тем больше усушка. Поэтому более плотные поздние зоны
            годичных слоев древесины усыхают больше, чем ранние зоны, и стягивают ранние зоны в тангенциальном направлении.
          </p>
          <br>
          <br>
          <strong>Тангенциальная усушка годичного слоя древесины хвойных пород, %:</strong>
          
          <div elem="percentage-table" style="max-width: 530px;">
            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td>Ранняя зона</td>
                  <td>Поздняя зона</td>
                </tr>
                <tr>
                  <td>Лиственница</td>
                  <td>7,8</td>
                  <td>9,4</td>
                </tr>
                <tr>
                  <td>Сосна</td>
                  <td>6,7</td>
                  <td>7,5</td>
                </tr>
                <tr>
                  <td>Ель</td>
                  <td>6,1</td>
                  <td>7,4</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <br>
          <br>
          
          <p>
            По радиальному направлению усушка древесины равна средней величине между усушками ранней и поздней зоны.
            Сердцевинные лучи сдерживают усушку древесины в радиальном направлении. Чем больше сердцевинных лучей, тем меньше
            радиальная усушка древесины.
          </p>
          
          
          <br>
          <br>
          
          <strong>
            Величина усушки при снижении содержания связанной воды в древесине на 1% называется коэффициентом усушки:
          </strong>

          <br>
          <br>
          
          
          
          <div elem="percentage-table">
            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td><strong>Сибирская сосна</strong></td>
                  <td><strong>Сибирская ель</strong></td>
                  <td><strong>Сибирский кедр</strong></td>
                  <td><strong>Сибирская лиственница</strong></td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Коэффициент
                      объемной <br>
                      усушки
                    </strong>
                  </td>
                  <td>
                    Умеренно
                    усыхающие <br>
                    0,46-0,55
                  </td>
                  <td>
                    Мало
                    усыхающие <br>
                    менее 0,45
                  </td>
                  <td>
                    Умеренно
                    усыхающие <br>
                    0,46-0,55
                  </td>
                  <td>
                    Сильно <br>
                    усыхающие <br>
                    0,66 и более
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <br>
          <br>

          <strong>
            Полная усушка древесины наиболее распространенных отечественных лесных пород:
          </strong>

          <br>

          <div elem="percentage-info">
            <p>В тангенциальном направлении<strong>8-10 %</strong></p>
            <p>В радиальном<strong>3-7 %</strong></p>
            <p>Вдоль волокон<strong>0,1-0,3 %</strong></p>
            <p>Полная объемная усушка<strong>11-17 %</strong></p>
          </div>
          
          <p>
            Поэтому изделия из древесины уменьшаются в размерах при снижении влажности воздуха.
          </p>

          <br>

          <h3 id="block11">Разбухание</h3>
          <div elem="circle-img">
            <figure elem="img">
              <div><img src="img/circle-img4.jpg" alt=""></div>
            </figure>
            <div>
              <p>
                Линейные размеры и объем древесины увеличиваются, потому что во влажной среде в древесине повышается содержание
                связанной воды. Поэтому древесина увеличивается в размерах при повышении влажности воздуха. Разбухание древесины —
                свойство, обратное усушке и подчиняется тем же закономерностям.
              </p>
            </div>
          </div>

          <strong>Коэффициент разбухания хвойных пород древесины:</strong>
          <div elem="percentage-table">
            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td><strong>Сибирская сосна</strong></td>
                  <td><strong>Сибирская ель</strong></td>
                  <td><strong>Сибирский кедр</strong></td>
                  <td><strong>Сибирская лиственница</strong></td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Коэффициент
                      объемного <br>
                      разбухания
                    </strong>
                  </td>
                  <td>
                    0,51
                  </td>
                  <td>
                    0,50
                  </td>
                  <td>
                    0,41
                  </td>
                  <td>
                    0,60
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>
            Способность древесины разбухать используется для уплотнения соединений в бочках, чанах, ушатах. Но чаще коробление
            вызванное разбуханием создает трудности при обработке и эксплуатации древесины.
            При модифицировании древесины уменьшается ее гигроскопичность и разбухание.
          </p>

          <h3 id="block12">Внутренние напряжения в древесине</h3>
          <p>
            Внутренние напряжения возникают в древесине без приложения усилий извне, потому что древесина неоднородно меняет форму
            во время роста дерева, а также при сушке, увлажнении, пропитке сортимента.
          </p>

          <br>

          <p id="block13"><strong>Коробление древесины</strong></p>
          <p>
            Пиломатериалы могут менять заданную форму в поперечном и продольном направлениях — коробиться при сушке, механической
            обработке и хранении.
          </p>


          <p>
            <img src="img/scheme-img2.png" alt="">
          </p>

          <p id="block14"><strong>Покоробленность по кромке и пласти</strong></p>
          <p>
            Доски деформируются по кромке и пласти, когда попадаются участки с разным строением древесины. Например, у досок с
            участкам креневой или примыкающей к сердцевине молодой древесины, у которых большая усушка вдоль волокон, чем у обычной
            древесины.
          </p>

          <div elem="scheme-mini">
            <div elem="scheme-mini-items">
              <figure elem="img">
                <div><img src="img/scheme-mini-img.svg" alt=""></div>
                <figcaption>Продольная по пласти простая</figcaption>
              </figure>
              <figure elem="img">
                <div><img src="img/scheme-mini-img2.svg" alt=""></div>
                <figcaption>Продольная по пласти сложная</figcaption>
              </figure>
              <figure elem="img">
                <div><img src="img/scheme-mini-img3.svg" alt=""></div>
                <figcaption>Продольная по кромке</figcaption>
              </figure>
            </div>
          </div>

          <p id="block15"><strong>Поперечная покоробленность</strong></p>
          <p>
            Причины поперечной покоробленности в различной степени усушки или разбухания древесины в радиальном и тангенциальном
            направлениях. Характер покоробленности зависит от формы поперечного сечения сортимента и места его выпиловки из бревна.
          </p>
          
          <div elem="scheme-mini">
            <div elem="scheme-mini-items">
              <figure elem="img">
                <div><img src="img/scheme-mini-img4.svg" alt=""></div>
                <figcaption>Поперечная покоробленность</figcaption>
              </figure>
            </div>
          </div>

          <p id="block16"><strong>Винтовая покоробленность</strong></p>
          <p>
            Винтовая покоробленность (крыловатость) — появляется у древесины с наклоном волокон.
          </p>
          
          <div elem="scheme-mini">
            <div elem="scheme-mini-items">
              <figure elem="img">
                <div><img src="img/scheme-mini-img5.svg" alt=""></div>
                <figcaption>Винтовая покоробленность</figcaption>
              </figure>
            </div>
          </div>

          <h3 id="block17">Причины коробления досок</h3>
          <h4>Доски коробятся:</h4>

          <p>— При распиловке сырых бревен из-за напряжений, которые появляются в растущем дереве,</p>
          
          <p>— При неправильной укладке материала в штабеля при атмосферной и камерной сушке,</p>
          
          <p>
            — В высушенном материале из-за нарушения равновесия остаточных напряжений происходит коробление при несимметричном
            фрезеровании досок или их ребровом делении,
          </p>
          
          <p>— При хранении высушенного материала вертикально,</p>
          
          <p>— При излишнем увлажнении во время хранения.</p>

          <h4 id="block18">Как уменьшить коробление сортимента</h4>

          <p>Коробление досок при сушке можно уменьшить утяжелителями или специальными прижимами.</p>
          
          <p>
            При сушке сортиментов промышленных размеров, когда вода удаляется в основном через боковые продольные поверхности,
            поперечное структурное коробление происходит из-за анизотропии усушки и неравномерного распределения влажности по
            сечению. Поэтому покоробленность по сечению доски в большей степени пропадает, когда влажность выравнивается.
          </p>
          
          <p>
            Остаточные внутренние напряжения можно уменьшить или снять совсем если после сушки увлажнить поверхность древесины
            паром, водой. Или восстановить форму специальными прижимами и утяжелителями.
          </p>

          <br>
          <br>
          <br>


          <h2 id="block19">Внимание! Влажность</h2>
          <br>
          <p>
            В процессе эксплуатации древесину надо оберегать от переувлажнения и намокания. В то же время в деревянных строениях
            надо поддерживать достаточный уровень влажности — это полезно и для деревянной отделки, и для вас
          </p>
          <p>
            <strong>
              Даже самую стойкую древесину можно сгноить при большом желании, поэтому:
            </strong>
          </p>

          <p>
            — В сухой древесине с меньшей вероятностью поселятся микроорганизмы — покупайте сухой пиломатериал, правильно храните
            его до использования, правильно распаковывайте см.ТУ;
          </p>
          
          <p>
            — Обрабатывайте поверхности перед началом эксплуатации рекомендованными покрытиями: для каждого вида поверхности есть
            свои средства, созданные с учетом особенностей эксплуатации. Антисептик убережет от плесени и грибов. Колерованное
            защитное масло — от ультрафиолета и влаги;
          </p>
          
          <p>— Проветривайте бани, сауны, дома</p>
          
          <p>— Вовремя убирайте зеленый налет с уличных поверхностей</p>
          
          <p>
            — Особое внимание затененным конструкциям на северной, северо-западной, северо-восточной стороне
          </p>
          <p>— Своевременно обновляйте защитное покрытие</p>
          
          <p>— Следите за влажностью в помещении</p>

          <p>
            Материал подготовлен на основе Справочника по древесине, Древесиноведения
          </p>

        </div>
      </div>
    </div>
  </div>
</div><!-- content-block -->

{% endblock %}


