---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Как подобрать древесину для строительства
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
	{"title": Статьи},
]
body:
	classes: inner
---

{% extends 'app.html' %}


{% block main %}
 
	<div block="inner-top">
		<div elem="section">
			<div elem="inner" class="contain">
				{% include "bread-crumbs.html" %}
			</div>
		</div>
	</div><!-- inner-top -->

  <div block="content-block">
  <div elem="section">
    <div elem="inner" class="contain">
      <div elem="container">
        <div elem="sidebar" class="js-content-block-sidebar">
          <h3>Оглавление</h3>
          <nav elem="nav">
            <ul>
              <li>
                <a href="#block1">Какие породы деревьев используют в строительстве</a>
                <ul>
                  <li>
                    <a href="#block2">
                      Карта лесов России
                    </a>
                  </li>
                  <li>
                    <a href="#block3">
                      Сосна ангарская
                    </a>
                  </li>
                  <li>
                    <a href="#block4">
                      Ель сибирская
                    </a>
                  </li>
                  <li>
                    <a href="#block5">
                      Кедр сибирский
                    </a>
                  </li>
                  <li>
                    <a href="#block6">
                      Лиственница сибирская
                    </a>
                  </li>
                </ul>
              </li>
              <li><a href="#block7">Сравнение ели, сосны, кедра и лиственницы</a></li>
              <li><a href="#block8">Как отличить древесину ели, лиственницы и кедра от древесины сосны</a></li>
              <li>
                <a href="#block9">
                  Качество пиломатериалов
                </a>
                <ul>
                  <li>
                    <a href="#block10">
                      Как отличить древесину по сортам
                    </a>
                  </li>
                  <li>
                    <a href="#block11">
                      Влажность
                    </a>
                  </li>
                  <li>
                    <a href="#block12">
                      Отклонения от номинальных размеров
                    </a>
                  </li>
                  <li>
                    <a href="#block13">
                      Что еще надо учесть при оценке качества пиломатериалов
                    </a>
                  </li>
                </ul>
              </li>
              <li><a href="#block14">Область применения</a></li>
            </ul>
          </nav>
        </div>
        <div elem="content">
          <div elem="main">
            <h1>
              Как подобрать древесину
              для строительства
            </h1>
            <p class="text-accent">
              Чтобы подобрать древесину для строительства надо знать из каких пород дерева делают пиломатериалы, разбираться в
              свойствах и пороках древесины, понимать какие материалы для каких строительных конструкций подходят
            </p>
            <div elem="img-full">
              <img src="img/content-block-main-img3.jpg" alt="">
            </div>
          </div>
          <br>
          <br>
          <h2 id="block1">
            Какие хвойные породы используют
            в строительстве
          </h2>
          <h3 id="block2">Карта лесов России</h3>
          <p><a href="#">Интерактивная карта «Леса России»</a></p>
          <p>
            <img src="img/content-map-img.jpg" alt="">
          </p>
          <p><a href="#">Карта преобладающих лесных пород России</a></p>
          <p>
            Корпорация ТЕХНОНИКОЛЬ делает пиломатериалы из четырех хвойных пород: сосны, ели, лиственницы и кедра. Производство
            находится в Красноярском крае.
          </p>

          <br>

          <h3 id="block3">Сосна ангарская</h3>
          <figure elem="img">
            <div><img src="img/content-img19.jpg" alt=""></div>
          </figure>

          <p>
            Сосна — род хвойных вечнозелёных деревьев семейства сосновых. Занимает около 1/6 площади всех лесов РФ.
            На севере распространена до границы лесной зоны, на юге — до черноземной полосы, заходя в Крым и на Кавказ, от западных
            границ России простирается на восток до Амура.
          </p>
          
          <p>
            У древесины сосны слегка розоватое ядро, которое со временем становится буровато-красным, широкую заболонь различных
            цветов — от желтоватого до розоватого. Годичные слои с достаточно четкой границей между ранней и поздней древесиной
            хорошо видны. У сосновой древесины довольно крупные и многочисленные смоляные ходы.
            Древесина сосны характеризуется средней плотностью, достаточно высокими прочностью и стойкостью к гниению.
            Древесина сосны хорошо обрабатывается, поэтому из нее строят дома и делают мебель.
          </p>
          
          <p>
            Сосна — главный источник живичной смолы или живицы. Живица является средством физической защиты пораженных тканей от
            высыхания и паразитов. Живица — ценное сырье, из которого изготавливается более 200 видов продукции, необходимой в
            строительстве, химической промышленности, медицине, при производстве бумажной продукции, при производстве и
            использовании музыкальных инструментов.
          </p>
          
          <p>
            Живица сосны издавна применялась в народной медицине как противомикробное средство. Канифоль входит в состав пластырей и
            клеола — быстровысыхающего медицинского клея. Лечебными свойствами обладают сосновые почки, хвоя, побеги.
          </p>
          
          <p>
            На территории Сибири более качественная древесина у сосны, произрастающей в Новосибирской, Красноярской и Иркутской
            областях. А та, что растет по берегам реки Ангара называется ангарской сосной.
          </p>
          
          <p>
            Ангарские сосны, растут в бассейне реки Ангара в Красноярском крае, где резко континентальный климат, который
            характеризуется коротким жарким летом и продолжительной холодной зимой. Условия экстремальные, поэтому древесина у
            ангарской сосны более плотная, прочная и стойкая к гниению, чем у деревьев, растущих в более мягких климатических
            условиях.

          </p>  

          <br>

          <h3 id="block4">Ель сибирская</h3>
          <figure elem="img">
            <div><img src="img/content-img20.jpg" alt=""></div>
          </figure>

          <p>Ель — род хвойных вечнозелёных деревьев, семейства сосновых.</p>
          
          <p>Ель занимает примерно 1/8 часть покрытой лесом площади России. Наиболее распространена ель обыкновенная и ель сибирская.</p>
          
          <p>
            Ель сибирская растет на территории России от Урала до Приморья и от 72° северной широты до Саян и Алтая.
            Ель — безъядровая порода.
          </p>
          
          <p>
            Древесина ели белая со слабым желтоватым или розоватым оттенком. Годичные слои хорошо заметны. Смоляных ходов мало, они
            мелкие. Смоляные ходы видны на поперечном разрезе в виде светлых пятен в поздней и ранней древесине.
          </p>
          
          <p>
            По прочности, плотности и стойкости к гниению древесина ель немного уступает сосне. Ель труднее обрабатывать из-за
            большого количества сучков и их повышенной твердости. Древесина ели однородная по строению, мало смолистая, имеет
            устойчивый белый цвет, длинные волокна.
          </p>
          
          <p>
            Применяется в строительстве наравне с сосной. Стропильную систему крыши раньше делали из тесаных еловых бревен
            небольшого диаметра.
          </p>
          
          <br>

          <h3 id="block5">Кедр сибирский</h3>
          <figure elem="img">
            <div><img src="img/content-img21.jpg" alt=""></div>
          </figure>

          <p>
            Кедр сибирский, или кедровая сосна принадлежит семейству «Сосновые». Кедр сибирский растет на северо-востоке европейской
            части России, в Сибири почти до Забайкалья.
          </p>
          
          <p>
            Ядровая древесина сибирского кедра светло- или желтовато-розового цвета, без резкой границы между ней и широкой,
            желтовато-белой заболонью.
          </p>
          
          <p>
            Годичные слои заметны, но переход от ранней древесины к поздней постепенный, растушеванный.
            Смоляных ходов у кедра меньше, чем у сосны, но они крупнее.
          </p>
          
          <p>
            Древесина кедра легкая, мягкая, хорошо обрабатывается в разных направлениях, прочность средняя между древесиной ели
            сибирской и пихты сибирской. Древесина кедра более стойкая к гниению, чем древесина обеих этих пород.
          </p>
          
          <p>
            По зимостойкости кедр уступает лишь лиственнице Зимой выдерживает температуру до − 60°С.
            Кедровый лес — «фабрика» биологически активного кислорода, насыщенного отрицательными ионами и фитонцидами.
          </p>
          
          <p>
            У древесины кедра самый интенсивный и стойкий аромат из четырех промысловых хвойных пород.
            Специфическая область применения древесины кедра — карандашное производство. В остальном кедр применяется для тех же
            целей, что сосна и ель.
          </p>  

          <br>

          <h3 id="block6">Лиственница сибирская</h3>
          <figure elem="img">
            <div><img src="img/content-img22.jpg" alt=""></div>
          </figure>

          <p>
            Лиственница — род хвойных летнезеленых деревьев, семейства сосновых. Лиственница хвойное дерево, которое сбрасывает
            иголки на зиму.
          </p>
          
          <p>
            Самая распространенная порода в России. Лиственничные древостои занимают порядка 40 % лесной площади с различными
            географическими и климатическими условиями. В России растет 14 видов лиственницы.
          </p>
          
          <p>
            У древесины лиственницы ядро красновато-бурого цвета, резко отграниченная узкая белая или слегка желтоватая заболонь
            шириной 8 − 20 мм. Заболонь более проницаема для жидкостей и газов, чем ядро. Так как заболонь более молодая часть
            ствола, то в ней меньше сучков, она более эластичная, но менее прочная, чем ядровая. Годичные слои хорошо видны. Граница
            между ранней и поздней древесиной четкая. Объем ядровой части — 70 − 75%. Тогда как у ели объем спелой ядровой древесины
            составляет только 20%.
          </p>
          
          <p>
            Ранняя и поздняя древесина контрастные по цвету, что делает текстуру лиственницы разнообразной и интересной. Рисунок
            древесины лиственницы ярко проявляется после смачивания хорошо обработанной поверхности водой или пропитки прозрачными
            покрытиями. Поэтому древесину лиственницы используют как конструктивный и как облицовочный материал.
          </p>
          
          <p>
            Чем больше содержание поздней древесины, тем выше прочность древесины в целом. Поэтому в стандартах на
            высококачественную древесину лиственницы, указано содержание поздней древесины. Оно должно быть не ниже 20%. Для сосны и
            ели содержание поздней древесины — не менее 10%.
          </p>
          
          <p>
            Древесина лиственницы плотная и прочная, стойкая к гниению. У более плотной древесины большая теплопроводность, поэтому
            лиственница хуже держит тепло.
          </p>
          
          <p>
            Древесина лиственницы обладает высокой механической прочностью на растяжение вдоль волокон, — до 15 кг/мм², но низким
            сопротивлением скалыванию и растяжению поперек волокон.
          </p>
          
          <p>
            Самая прочная сибирская лиственница растет в Новосибирской области и Красноярском крае.
            В древесине лиственницы есть вертикальные и горизонтальные смоляные ходы. Вертикальные смоляные ходы редкие и
            располагаются в поздней древесине или в переходной зоне между ранней и поздней древесиной. Горизонтальные и вертикальные
            смоляные ходы образуют единую разветвленную капиллярную систему.
            На 1 мм² древесины лиственницы приходится от 1 до 4 горизонтальных смоляных ходов и до 9 вертикальных. Диаметр
            вертикальных смоляных ходов сибирской лиственницы в среднем 60 − 90 мк, а горизонтальных — 25 мк. Полимеризация смолы в
            процессе эксплуатации делает древесину более прочной.
          </p>
          
          <p>
            Древесина лиственницы легко растрескивается при сушке, легко раскалывается, труднее других хвойных пород обрабатывается
            на станках.
          </p>
          
          <p>
            Лиственничные пиломатериалы по сравнению с пиломатериалами других хвойных пород при камерной и атмосферной сушке в
            большей степени поражаются торцовыми и пластевыми трещинами. Тангенциальная усушка лиственничной древесины на 25%
            больше, чем у сосны, а также в 2 − 2,5 раза больше, чем в радиальном направлении. Для других пород это отношение
            значительно меньше.
          </p>
          
          <p>
            При изменении температуры и влажности окружающей среды древесина лиственницы меняет размеры и форму — усыхает, разбухает
            и коробится, в большей степени, чем другие хвойные породы.
          </p>
          
          <p>
            Применяется при изготовлении гидротехнических, спортивных сооружений и в домостроении. Лиственница используется в
            производстве мебели, паркета, фанеры, в целлюлозно-бумажной промышленности.
          </p>

          <br>
          <br>

          <h2 id="block7">
            Сравнение ели, сосны, кедра
            и лиственницы
          </h2>

          <p>
            Древесина <strong>сибирской лиственницы</strong> самая плотная, тяжелая, прочная, твердая, паразитоустойчивая, но сильно усыхает и
            разбухает и обладает высокой теплопроводностью, а значит в лиственничном срубе холоднее, чем в сосновом.
          </p>
          
          <p>
            У древесины <strong>сибирского кедра</strong> самая низкая теплопроводность — кедровый сруб самый теплый, невероятный аромат, красивая
            текстура и цвет. Древесина кедра паразитоустойчивая, легкая, смолит только из сучков, но достаточно мягкая.
          </p>
          
          <p>
            У древесины <strong>сибирской сосны</strong> крепкие средние показатели по прочности, весу, твердости, теплопроводности, усушке и
            разбуханию, паразитоустойчивости и, что немаловажно, самая доступная цена. Но древесина сосны сильно смолит.
          </p>
          
          <p>Древесина <strong>сибирской ели</strong> самая светлая, почти белая, по основным свойствам похожа на сосну.</p>
          <br>
          <br>

          <h2 id="block8">
            Как отличить древесину ели, лиственницы и кедра от древесины сосны
          </h2>

          <p>У сибирского кедра самая ароматная и мягкая древесина — буквально продавливается ногтем.</p>
          
          <p>Древесина лиственницы — самая плотная и поэтому самая тяжелая.</p>
          
          <p>Древесина ели — самая светлая из всех, почти белая.</p>

          <br>
          <br>

          <h2 id="block9">Качество пиломатериалов</h2>
          
          <p>ГОСТ 2140−81 описывает пороки древесины</p>
          
          <p>ГОСТ 8486−86 описывает сортность древесины</p>
          
          <p>На основе ГОСТов разрабатывают ТУ — технические условия.</p>
          
          <p>ТУ не может противоречить ГОСТу, и требования там могут быть более строгими.</p>
          
          <p>В ТУ прописывают нормы пороков, отклонения от типоразмеров, методы контроля, правила транспортирования и хранения.</p>
          
          <p>Пиломатериалы ТЕХНОНИКОЛЬ производят по ТУ 16.10.21.110−001−19334577−2018.</p>
          
          <p>
            ТУ разработаны на предприятии ООО ДК «Премьер-Лес». Готовая продукция предназначена для настенных, напольных, потолочных
            покрытий внутреннего и наружного назначения.
          </p>

          <br>

          <h2 id="block10">Как отличить древесину по сортам</h2>

          <p>
            От сорта зависит внешний вид изделия и цена — как будет выглядеть доска и сколько вы за нее заплатите. Сортность
            определяют по лицевой и изнаночной стороне.
          </p>

          <div elem="tree-types">
            <div elem="tree-types-items">
              <figure elem="img">
                <strong>Сорт A</strong>
                <div><img src="img/tree-types-img.jpg" alt=""></div>
              </figure>
              <figure elem="img">
                <strong>
                  Сорт B «Оптима», <br>
                  дешевле сорта А на 23%
                </strong>
                <div><img src="img/tree-types-img2.jpg" alt=""></div>
              </figure>
              <figure elem="img">
                <strong>
                  Сорт C «Норма», <br>
                  дешевле сорта А на 43%
                </strong>
                <div><img src="img/tree-types-img3.jpg" alt=""></div>
              </figure>
              <figure elem="img">
                <strong>
                  Сорт D, <br>
                  дешевле сорта А на 50%
                </strong>
              </figure>
            </div>
          </div>

          <p>Чтобы определить сорт надо разбираться в пороках древесины.</p>

          <p><a href="#">Нормы пороков по сортам</a></p>

          <br>

          <h3 id="block11">Влажность</h3>

          <p>
            Влажность всех готовых изделий ТЕХНОНИКОЛЬ из хвойных пород древесины — сосна/ель, лиственница: не более 14% —
            отклонения ±2%.
          </p>

          <h3 id="block12">Отклонения от номинальных размеров</h3>

          <p>Отклонения от номинальных размеров разные для профилированной продукции и для РБД.</p>
          
          <p>
            <strong>Профилированные изделия</strong> — вагонка, штиль, доска пола шпунтованная, блокхаус, имитация бруса, планкен, террасная доска,
            палубная доска.
          </p>
          
          <p><strong>РБД</strong> — рейка, брусок, доска.</p>

          <div elem="bordered-table">
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>
                      Отклонения<br>
                      от номинальных<br>
                      размеров
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Для профилированных<br>
                      изделий
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Для строганных и нестроганых<br>
                      изделий РБД
                    </strong>
                  </td>

                </tr>
                <tr>
                  <td>
                    по длине <br>
                    не более
                  </td>
                  <td>
                    <p>Сорт «Прима», Сорт А, Сорт B «Оптима» <br> — отклонения −10 / +30 мм</p>
                    
                    <p>Сорт C «Норма», Сорт D — отклонения <br> −15 / +35 мм</p>
                  </td>
                  <td>
                    <p>Сорт 1 «Оптима» — отклонения −10/+30 мм</p>
                    
                    <p>Сорт 2 «Норма», Сорт 3 — отклонения −15/+40 мм</p>
                    
                    <p>Нестроганая — отклонения −15/+40 мм</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    по ширине <br>
                    не более
                  </td>
                  <td>
                    <p>Для всех сортов — отклонения ±1,0 мм</p>
                  </td>
                  <td>
                    <p>Сорт 1 «Оптима» — отклонения ±1,0 мм</p>
                    
                    <p>Сорт 2 «Норма», Сорт 3 — отклонения ±1,0 мм</p>
                    
                    <p>Нестроганая — отклонения ±3,0 мм</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    по толщине <br>
                    не более
                  </td>
                  <td>
                    <p>Для всех сортов — отклонения ±1,0 мм</p>
                  </td>
                  <td>
                    <p>Сорт 1 «Оптима» — отклонения ±1,0 мм</p>
                    
                    <p>Сорт 2 «Норма», Сорт 3 — отклонения ±1,0 мм</p>
                    
                    <p>Нестроганая — отклонения ±3,0 мм</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3>Что ещё надо учесть при оценке качества пиломатериалов</h3>

          <br>

          <div elem="bordered-table">
            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td>
                    <strong>
                      Для профилированных <br>
                      изделий
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Для строганных и нестроганых<br>
                      изделий РБД
                    </strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Качество профилированных изделий оценивают по лицевой стороне
                  </td>
                  <td>
                    <p>У планкена — 3 лицевые стороны</p>
                    
                    <p>У террасной доски с поверхностью «вельвет» — 2 лицевые стороны</p>
                    
                    <p>У палубной доски — 3 лицевые стороны</p>
                  </td>
                  <td>
                    <p>В одной упаковке товара допускается смешение пород древесины Сосна и Ель</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    Наличие смежных сортов
                  </td>
                  <td>
                    <p>Допускается наличие до 5% смежных сортов</p>
                  </td>
                  <td>
                   
                  </td>
          
                </tr>
                <tr>
                  <td>
                    Торцы

                  </td>
                  <td>
                    <p>Торцы готовых изделий должны быть торцованы под углом 90±2°</p>
                  </td>
                  <td>
                   
                  </td>
                </tr>
                <tr>
                  <td>
                    Смешение пород

                  </td>
                  <td>
                    <p>
                      В одной упаковке товара не допускается смешение пород древесины Сосна и Ель
                    </p>
                  </td>
                  <td>
                    <p>
                      В одной упаковке товара допускается смешение пород древесины Сосна и Ель
                    </p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    Оценка количества пороков на изделие

                  </td>
                  <td>
                    Указание нормированного значения параметров на погонный метр следует принимать в перерасчете на общую длину изделия.
                    Например, если допускается не более 2 сучков на 1 пог. м и длина изделия 3 метра, то в общей сложности на изделии этого
                    типа допускается не более 6 сучков данного вида. При большем количестве изделие считается несоответствующим сорту по
                    данному параметру.
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

          <br>
          <br>

          <h2 id="block13">Качество пиломатериалов</h2>

          <p><img src="img/lumber-quality-img.jpg" alt=""></p>
          <br>
          <p><img src="img/lumber-quality-img2.jpg" alt=""></p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div elem="bordered-table" id="block14">
            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td>
                    <strong>
                      Древесина
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Снаружи
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Внутри
                    </strong>
                  </td>
                  <td>
                    <strong>
                      Скрытые конструкции
                    </strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Планкен <br>
                      прямой и <br> скошенный
                    </strong>
                  </td>
                  <td>
                    Лиственница, <br> сосна, ель
                  </td>
                  <td>
                    Обшивка фасада, <br> забор, ограждение <br> террасы, крыльца, <br> пергола
                  </td>
                  <td>
                    Декоративные <br> перегородки, <br> ограждения, <br> элементы интерьера
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Имитация <br>
                      бруса
                    </strong>
                  </td>
                  <td>
                    Сосна, ель, лиственница, кедр
                  </td>
                  <td>
                    Обшивка фасада
                  </td>
                  <td>
                    Обшивка стен, <br> внутренние стены и перегородки
                  </td>
                  <td>
                    -
                  </td>

                </tr>
                <tr>
                  <td>
                    <strong>
                      Блокхаус
                    </strong>
                  </td>
                  <td>
                    Сосна, ель
                  </td>
                  <td>
                    Обшивка фасада
                  </td>
                  <td>
                    Обшивка стен, <br> внутренние стены и перегородки
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Евровагонка
                  </strong>
                 </td>
                 <td>
                  Лиственница, <br> сосна, ель, кедр
                 </td>
                 <td>
                  Обшивка фасада,  потолок террасы,  сарая, гаража,  навеса, крыльца
                 </td>
                 <td>
                  Обшивка стен и потолка, кедр — для бани
                 </td>
                 <td>
                  -
                 </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Панели
                    «Штиль»
                  </strong>
                 </td>
                 <td>
                  Кедр, сосна, ель,
                  лиственница
                 </td>
                 <td>
                  Обшивка фасада, потолок террасы, сарая, гаража, навеса, крыльца
                 </td>
                 <td>
                  Обшивка стен и потолка, лиственница — для ванной и кухни, кедр — для бани
                 </td>
                 <td>
                  -
                 </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Террасная доска <br>
                      с поверхностью <br> «Вельвет»
                    </strong>
                  </td>
                  <td>
                    Лиственница
                  </td>
                  <td>
                    Пол террасы, <br> веранды, настилы <br> около воды: пирс, <br> бортик бассейна, <br> причал, мостки и пр., <br> садовые дорожки
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Палубная <br>
                      доска
                    </strong>
                  </td>
                  <td>
                    Лиственница
                  </td>
                  <td>
                    Пол террасы, <br> веранды, настилы <br> около воды: пирс, <br> бортик бассейна, <br> причал, мостки и пр., <br> садовые дорожки
                  </td>
                  <td>
                    Пол в бане
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      Доска пола <br>
                      шпунтованная
                    </strong>
                  </td>
                  <td>
                    Лиственница, сосна, ель
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    Пол, лиственницу — можно в ванной и на кухне
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Брусок <br>
                    строганый
                  </strong>
                 </td>
                 <td>
                  Сосна, ель, лиственница
                 </td>
                 <td>
                  Ограждения террасы, <br> крыльца, пергола, <br> навес, балясины
                 </td>
                 <td>
                  Декоративные элементы, <br> перегородки, ограждения, балясины
                 </td>
                 <td>
                  Обрешетка для <br> утепления и обшивки <br> фасада, для софитов, <br> кровли
                 </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Доска <br>
                    строганая
                  </strong>
                 </td>
                 <td>
                  Сосна, ель
                 </td>
                 <td>
                  Обшивка фасада, <br> забор, терраса, <br> крыльцо, пергола, <br> навес, софиты
                 </td>
                 <td>
                  Декоративные <br> элементы, <br> перегородки, <br> ограждения, <br> балясины
                 </td>
                 <td>
                  Обрешетка, черновой пол, дверные и оконные проемы
                 </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Доска <br>
                    нестроганая
                  </strong>
                 </td>
                 <td>
                  Сосна, ель
                 </td>
                 <td>
                  -
                 </td>
                 <td>
                  -
                 </td>
                 <td>
                  Обрешетка, черновой пол
                 </td>
                </tr>
                <tr>
                 <td>
                  <strong>
                    Доска <br> калиброванная
                  </strong>
                 </td>
                 <td>
                  Сосна, ель
                 </td>
                 <td>
                  -
                 </td>
                 <td>
                  -
                 </td>
                 <td>
                  Обрешетка, черновой пол, дверные и оконные проемы
                 </td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>Материал подготовлен на основе Справочника по древесине, Древесиноведения, материалов о кедре</p>
          
          <br>

          <a href="#" class="button-default">
            <span>Ознакомиться с ассортиментом пиломатериалов ТЕХНОНИКОЛЬ</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div><!-- content-block -->

{% endblock %}


