---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: террасная доска
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
	{"title": Каталог},
]
body:
	classes: inner-page
---

{% extends 'app.html' %}


{% block main %}
 
	<div block="inner-top">
		<div elem="section">
			<div elem="inner" class="contain">
				{% include "bread-crumbs.html" %}
				<h1>террасная доска</h1>
			</div>
		</div>
	</div><!-- inner-top -->

  <div block="card-product">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="container">
          <i elem="icon"><img src="img/product-thumb-icon3.svg" alt=""></i>
          <div elem="images" class="spotlight-group">
            <div elem="img" class="spotlight" data-src="img/card-product-img4.png">
              <img src="img/card-product-img4.png" alt="">
            </div>
            <div elem="img" class="spotlight" data-src="img/card-product-img5.jpg">
              <img src="img/card-product-img5.jpg" alt="">
            </div>
            <div elem="img" class="spotlight" data-src="img/card-product-img6.jpg">
              <img src="img/card-product-img6.jpg" alt="">
            </div>
          </div>
          <div elem="info">
            <form elem="form">
              <div block="property" mods="pic">
                <h4 class="name-parameters">Порода древесины</h4>
                <div elem="labels">
                  <label elem="label">
                    <input type="radio" name="product_type" checked>
                    <div elem="choice">
                      <span elem="name">Сибирская лиственница</span>
                      <span elem="img"><img src="img/sorting-type-img2.png" alt=""></span>
                    </div>
                  </label>
                </div>
              </div> <!-- property -->
              <div block="property">
                <h5 class="name-parameters">Сорт</h5>
                <div elem="labels">
                  <label elem="label">
                    <input type="radio" name="product_variety" checked>
                    <div elem="choice">
                      <span elem="name">А</span>
                    </div>
                  </label>
                  <label elem="label">
                    <input type="radio" name="product_variety">
                    <div elem="choice">
                      <span elem="name">B</span>
                    </div>
                  </label>
                  <label elem="label">
                    <input type="radio" name="product_variety">
                    <div elem="choice">
                      <span elem="name">C</span>
                    </div>
                  </label>
                  <label elem="label">
                    <input type="radio" name="product_variety">
                    <div elem="choice">
                      <span elem="name">D</span>
                    </div>
                  </label>
                </div>
              </div> <!-- property -->
              <div block="property">
                <h5 class="name-parameters">Сечение</h5>
                <div elem="labels">
                  <label elem="label">
                    <input type="radio" name="product_cut" checked>
                    <div elem="choice">
                      <span elem="name">26x146</span>
                    </div>
                  </label>
                  <label elem="label">
                    <input type="radio" name="product_cut">
                    <div elem="choice">
                      <span elem="name">28x146</span>
                    </div>
                  </label>
                </div>
              </div> <!-- property -->
              <div block="property">
                <h5 class="name-parameters">Длина</h5>
                <div elem="labels">
                  <label elem="label">
                    <input type="radio" name="product_length" checked>
                    <div elem="choice">
                      <span elem="name">3 м</span>
                    </div>
                  </label>
                </div>
              </div> <!-- property -->
              <div block="delivery-regions">
                <h5 class="name-parameters">Регионы поставки</h5>
                <div elem="select">
                  <select>
                    <option value="Москва">Москва</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Уфа">Уфа</option>
                  </select>
                </div>
              </div><!-- delivery-regions -->
              <div block="your-choice">
                <h5 class="name-parameters">Регионы поставки</h5>
                <input type="hidden" name="total_parameters" value="Прямой планкен, Ангарская сосна, Сорт А, 14x96x2м">
                <div elem="text">
                  Террасная доска, Сибирская лиственница, Сорт А, 14x96x2м
                </div>
              </div><!-- your-choice -->
              <div elem="total-price">
                <div elem="price"><span>1 300</span>₽/м³</div>
                <button elem="button-buy" class="button-default" type="submit">Купить</button>
              </div>
            </form>
            <div elem="links">
              <a elem="link-location" href="#"><span>Точки продаж</span></a>
              <a elem="link-price-list" href="#"><span>Запросить прайс-лист</span></a>
            </div>
            <div elem="desc">
              <h3>Описание</h3>
              <p>
                Террасная доска — это доска, которая используется для укладки террас. Террасную доску, следуя словоупотреблению
                английского языка, часто называют декингом (от англ. deck — «настил», «палуба»), но в русском языке последнее слово
                лучше зарезервировать для садового паркета, так как последний используется отнюдь не только в качестве паркета в саду.
                Террасная доска может быть изготовлена из древесно-полимерного композита, который обладает множеством положительных
                характеристик в любой сезон года.
              </p>
            </div>
            <div block="scope-product">
              <h3>Сфера применения</h3>
              <div elem="items" class="spotlight-group">
                <div elem="item">
                  <div elem="img" class="spotlight" data-src="img/scope-product-img.jpg">
                    <img src="img/scope-product-img.jpg" alt="">
                  </div>
                  <div elem="name">Каркасные конструкции</div>
                </div>
                <div elem="item">
                  <div elem="img" class="spotlight" data-src="img/scope-product-img2.jpg">
                    <img src="img/scope-product-img2.jpg" alt="">
                  </div>
                  <div elem="name">Кровельные конструкции</div>
                </div>
              </div>
            </div> <!-- scope-product -->
            <div block="technical-info">
              <h3>Техническая информация</h3>
              <h4>Отклонения</h4>
              <ul elem="list-options">
                <li>
                  <span>По длине:</span> -10/+30 мм<span></span>
                </li>
                <li>
                  <span>По ширине:</span> +/- 1,0 мм<span></span>
                </li>
                <li>
                  <span>Упаковка:</span> 0,5/1 пакет/шт<span></span>
                </li>
                <li>
                  <span>Влажность:</span>
                  <14% (+/- 2%) <span></span>
                </li>
                <li>
                  <span>По толщине:</span> +/- 1,0 мм<span></span>
                </li>
              </ul>
              <h4>Доска пола</h4>
              <div elem="info">
                <ul elem="list-info">
                  <li>В пачке по 3 шт.</li>
                  <li>В каждом ряде поддона 6 пачек</li>
                  <li>5 рядов в высоту</li>
                  <li>Всего 30 пачек на паллете</li>
                </ul>
                <div elem="docs">
                  <a href="#" download=""><span>Сертификат</span></a>
                  <a href="#" download=""><span>Инструкция</span></a>
                  <a href="#" download=""><span>Условия хранения</span></a>
                  <a href="#" download=""><span>ТУ</span></a>
                </div>
              </div>
            </div><!-- technical-info -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- card-product -->


	{% include "other-products.html" %}

	{% include "calculator.html" %}

  <div block="info-product">
    <div elem="section">
      <div elem="inner" class="contain">
        <div elem="container">
          <div elem="head">
            <h2 elem="title">сибирская <br> лиственница</h2>
            <div elem="desc">
              <p>
                Кедр — вечнозелёное хвойное дерево семейства сосновых. Представители рода однодомные, вечнозелёные деревья высотой до
                40—50 метров, с раскидистой кроной. Кора тёмно-серая, на молодых стволах гладкая, на старых растрескивающаяся,
                чешуйчатая. Побеги укороченные и удлинённые, последние несут спирально расположенную хвою.
              
              </p>
              <p>
                В природе ареал рода охватывает южные и восточные горные районы Средиземноморья и западные районы Гималаев. Растения
                требуют неуплотнённых сверху и хорошо водопроницаемых почв; очень чувствительны к застаиванию воды в почве. Все виды
                кедров хорошо растут на бедных известью почвах (так называемых шиферных — формирующихся на слабокарбонатных сланцах,
                сланцеватых тёмных глинах и песчаниках, и других).
              </p>
            </div>
          </div>
          <div elem="img">
            <img src="img/info-product-img2.jpg" alt="">
          </div>
        </div>
        <div elem="content">
          <div elem="pics">
            <div elem="pic"><img src="img/info-product-pic2.png" alt=""></div>
            <span elem="bg-pic" style="background-color: #CC6141;"></span>
          </div>
          <div elem="info">
            <div elem="text">
              <div elem="name">не боится влаги</div>
              <p>Не подвержена гниению</p>
              <p>
                Может находиться во влажной среде длительный промежуток времени и не портиться.
                
              </p>
            </div>
            <div elem="text">
              <div elem="name">высокая плотность</div>
              <p>Прочность на 30% больше сосны</p>
            </div>
            <div elem="text">
              <div elem="name">пожаробезопасна</div>
              <p>Повышенная огнестойкость (в 2 раза выше сосны)</p>
            </div>
            <div elem="text">
              <div elem="name">биостойкость</div>
              <p>Обладает высокими защитными свойствами и отлично противостоит развитию болезнетворных бактерий и плесени.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div><!-- info-product -->

	<div block="video-block">
		<div elem="section" style="background-image: url(img/poster-pic.png);">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Wjng9L_4cuQ" title="YouTube video player"
				frameborder="0"
				allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>
	</div><!-- video-block -->
	
	<div block="about-tree">
		<div elem="section">
			<div elem="inner" class="contain">
				<div elem="head">
					<h3>Узнайте больше</h3>
				</div>
				<div elem="wrapper">
					<div elem="container" class="swiper js-about-tree-slider">
						<div elem="items" class="swiper-wrapper">
							<div elem="item" class="swiper-slide">
								<div block="about-tree-card">
									<div elem="body">
										<div elem="img"><img src="img/about-tree-card-img.jpg" alt=""></div>
										<div elem="content">
											<small>Статья</small>
											<div elem="name">Разбираемся в сортах древесины</div>
											<a elem="link-more" class="button-default" href="#">
												<span>Подробнее</span>
											</a>
										</div>
									</div>
								</div><!-- about-tree-card -->
							</div>
							<div elem="item" class="swiper-slide">
								<div block="about-tree-card">
									<div elem="body">
										<div elem="img"><img src="img/about-tree-card-img2.jpg" alt=""></div>
										<div elem="content">
											<small>Статья</small>
											<div elem="name">Как подобрать древесину для строительства</div>
											<a elem="link-more" class="button-default" href="#">
												<span>Подробнее</span>
											</a>
										</div>
									</div>
								</div><!-- about-tree-card -->
							</div>
							<div elem="item" class="swiper-slide">
								<div block="about-tree-card">
									<div elem="body">
										<div elem="img"><img src="img/about-tree-card-img3.jpg" alt=""></div>
										<div elem="content">
											<small>Статья</small>
											<div elem="name">Влияние влажности на древесину</div>
											<a elem="link-more" class="button-default" href="#">
												<span>Подробнее</span>
											</a>
										</div>
									</div>
								</div><!-- about-tree-card -->
							</div>
							<div elem="item" class="swiper-slide">
								<div block="about-tree-card">
									<div elem="body">
										<div elem="img"><img src="img/about-tree-card-img4.jpg" alt=""></div>
										<div elem="content">
											<small>Статья</small>
											<div elem="name">Виды отделки современных фасадов</div>
											<a elem="link-more" class="button-default" href="#">
												<span>Подробнее</span>
											</a>
										</div>
									</div>
								</div><!-- about-tree-card -->
							</div>
							<div elem="item" class="swiper-slide">
								<div block="about-tree-card">
									<div elem="body">
										<div elem="img"><img src="img/about-tree-card-img5.jpg" alt=""></div>
										<div elem="content">
											<small>Статья</small>
											<div elem="name">Свойства хвойных пород древесины</div>
											<a elem="link-more" class="button-default" href="#">
												<span>Подробнее</span>
											</a>
										</div>
									</div>
								</div><!-- about-tree-card -->
							</div>
						</div>
						<div class="swiper-scrollbar"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- about-tree -->

{% endblock %}
