---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Прямой планкен
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
	{"title": Каталог},
]
body:
	classes: inner-page
---

{% extends 'app.html' %}


{% block main %}
 
	<div block="inner-top">
		<div elem="section">
			<div elem="inner" class="contain">
				{% include "bread-crumbs.html" %}
				<h1>прямой планкен</h1>
			</div>
		</div>
	</div><!-- inner-top -->

	{% include "card-product.html" %}

	{% include "calculator.html" %}
	
	{% include "about-tree.html" %}

{% endblock %}
