---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Главная
	layout:
		header: true
		footer: true
		left: false
		right: false
	# Массив хлебных крошек, от главной до текущей страницы
	# Необходимо прописывать только имена файлов (шаблонов) страниц
	# Названия и ссылки проставятся автоматически
	crumbs: !!seq
	- home
body:
	classes: home
---

{% extends 'app.html' %}


{% block main %}

	{% include "hero.html" %}
	
	{% include "about-us.html" %}

	{% include "our-products.html" %}

	{% include "calculator.html" %}
	
	{% include "banner.html" %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	{% include "video-preview.html" %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
