.info-links
  @media (min-width: 768px)
    padding-bottom: 40px

  @media (min-width: 1280px)
    padding-bottom: 90px

  &__section
    padding-top: 50px
    padding-bottom: 20px
    background-position: 50% 50%
    background-size: cover
    background-repeat: no-repeat
    position: relative

    @media (min-width: 768px)
      padding-top: 60px
      padding-bottom: 5px
      background-attachment: fixed

    @media (min-width: 1280px)
      padding-top: 150px
      padding-bottom: 150px

  &__inner
    max-width: 320px
    width: 100%
    margin: 0 auto

    @media (min-width: 768px)
      max-width: 610px

    @media (min-width: 1280px)
      max-width: 1206px

  &__container
    @media (max-width: 767px)
      padding-bottom: 45px

    @media (min-width: 768px)
      margin-left: -50px

    @media (min-width: 1280px)
      margin-left: -28px

    .swiper-pagination
      display: flex
      align-items: center

      @media (min-width: 768px)
        display: none

      .swiper-pagination-bullet
        flex: 1 1 auto
        opacity: 1
        border-radius: 0
        height: 10px
        margin-right: 5px
        margin-left: 5px
        display: flex
        align-items: center
        justify-content: center
        background-color: transparent

        &:before
          content: ''
          height: 2px
          width: 100%
          background-color: #E2E2E2
          transition: background-color 0.3s

        &.swiper-pagination-bullet-active
          &:before
            background-color: #4fa600

  &__items
    display: flex
    align-items: center

    // flex-wrap: wrap
    @media (min-width: 768px)
      // margin-left: -50px
      flex-wrap: wrap

  &__item
    // margin-bottom: 20px

    // @media (max-width: 767px)
    // width: 240px
    // flex: 0 0 240px
    // max-width: 240px
    padding-right: 20px
    padding-left: 20px

    @media (min-width: 768px)
      // width: 50% !important
      width: 280px + 50px
      flex: 0 0 280px + 50px
      max-width: 280px + 50px
      padding-left: 50px
      margin-bottom: 60px
      padding-right: 0

    @media (min-width: 1280px)
      // width: 25% !important
      width: 280px + 28px
      flex: 0 0 280px + 28px
      max-width: 280px + 28px
      padding-left: 28px
      margin-bottom: 0

  &__link
    text-decoration: none
    background-color: #FFF
    border-radius: 30px
    width: 100%
    height: 280px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: background-color 0.3s

    &:hover
      background-color: #89C900

      & ^[0]
        &__name
          color: #000

        &__icon
          svg
            path
              stroke: #fff

  &__icon
    height: 160px
    display: flex
    align-items: center
    justify-content: center

    svg
      path
        transition: stroke 0.3s

  &__name
    font-size: 16px
    color: #000
    font-weight: 700
    line-height: 1.2
    text-align: center
    text-transform: uppercase
    max-width: 180px
    transition: color 0.3s